<#ftl encoding='UTF-8'>
<html>
<head>
    <title>Question answer</title>
</head>
<body>
<form method="post" action="/manager/questions/edit">
    <input type="hidden" value="${model.question.id}" name="id">
    <input type="hidden" value="${model.question.content}" name="content">
    <input type="text" name="answer">
    <input type="submit" value="Answer">
</form>
</body>
</html>